# Angular build files
/dist
/out-tsc
/tmp
/.angular

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
/src/environments/*.local.ts
/src/environments/*.dev.ts
/src/environments/*.prod.ts

# IDEs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Compiled output
*.js.map
