<app-header></app-header>
<app-header-intro></app-header-intro>
<app-questions></app-questions>
<!-- <app-pain-points></app-pain-points> -->
<app-about></app-about>
<app-normalization></app-normalization>
<app-solution></app-solution>
<app-webinar></app-webinar>
<app-cta-registration></app-cta-registration>
<app-bonuses></app-bonuses>
<app-pricing></app-pricing>
<app-questionsand-answers></app-questionsand-answers>
<app-recommendations></app-recommendations>
<app-contact-form></app-contact-form>
<router-outlet></router-outlet>